<!doctype html>
<html lang="ko">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<title>module_base_server</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css" />
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body scroll="no">
	<div>
		id : <input type="text" id="login_id">
		pw : <input type="text" id="login_pw">
		<button type="button" id="insert_btn" onclick="test()">로그인</button>
		<button type="button" onclick="go_to_create()">회원가입</button>
	</div>
	<br>
	<div>
		-----------------------------------------------------------------------------------------
		<br>
		
		<table border="2">
			<thead > 
				<tr>
					<td>자산</td>&nbsp;&nbsp;&nbsp;&nbsp;
					<td>실시간 시세</td>&nbsp;&nbsp;&nbsp;&nbsp;
					<td>변동률(전일대비)</td>&nbsp;&nbsp;&nbsp;&nbsp;
					<td>거래금액</td>
				</tr>
			</thead>
			<tbody id="tbody">

			</tbody>
		</table>
	</div>
	<script>
		function go_to_create() {
			location.href = "/go_to_create"
		}
		function test() {
			var data = "zzzzzzzzzzzzzzzz"
			axios.post('/test', { data: data }).then(function (response) {
				console.log(response)
			})
		}
		// const sortByPosition = obj => {
		// 	const order = [], res = {};
		// 	Object.keys(obj).forEach(key => {
				
		// 		return order[obj[key]['fluctate_rate_24H'] - 1] = key;
		// 	});
		// 	order.forEach(key => {
		// 		res[key] = obj[key];
		// 	});
		// 	return res;
		// }
		async function get() {

			await axios.get('/get_api').then(function (response) {
				
				
				var html = ''
				let btc_dict = response.data
				// sortByPosition(btc_dict)
				let key_dict = Object.keys(btc_dict)
				for (let i = 0; i < key_dict.length; i++) {
					html += '<tr><td>' + key_dict[i] + '</td>';
					html += '<td>' + btc_dict[key_dict[i]].closing_price + ' (KRW)</td>';
					html += '<td>' + btc_dict[key_dict[i]].fluctate_rate_24H + '%</td>';
					html += '<td>' + btc_dict[key_dict[i]].acc_trade_value_24H + '</td></tr>';
				}

				$('#tbody').html(html)

				setTimeout(() => {
					get()
				}, 3000)


			}).catch(function(error){
				console.log('!!!!!!!!!!!!!ERROR!!!!!!!!!!!!!!')
				console.log(error)
			})
		}

		$(document).ready(function () {
			get()

		})

		// function httpGet()
		// {
		// 	var xmlHttp = new XMLHttpRequest();
		// 	xmlHttp.open( "GET", 'https://api.bithumb.com/public/ticker/ALL_KRW', false ); // false for synchronous request
		// 	xmlHttp.send( null );
		// 	return xmlHttp.responseText;
		// }

	</script>