<!doctype html>
<html lang="ko">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<title>module_base_server</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css" />
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body scroll="no">
	<div>
		id : <input type="text" id="login_id">
		pw : <input type="text" id="login_pw">
		<button type="button" id="insert_btn" onclick="test()">로그인</button>
		<button type="button" onclick="go_to_create()">회원가입</button>
	</div>
	<br>
	<div>
		-----------------------------------------------------------------------------------------
		<br>

		<table border="2">
			<thead>
				<tr>
					<td>자산</td>&nbsp;&nbsp;&nbsp;&nbsp;
					<td>실시간 시세</td>&nbsp;&nbsp;&nbsp;&nbsp;
					<td>변동률(전일대비)</td>&nbsp;&nbsp;&nbsp;&nbsp;
					<td>거래금액</td>
				</tr>
			</thead>
			<tbody id="tbody">

			</tbody>
		</table>
	</div>
	<script>
		function go_to_create() {
			location.href = "/go_to_create"
		}
		function test() {
			var data = "zzzzzzzzzzzzzzzz"
			axios.post('/test', { data: data }).then(function (response) {
				console.log(response)
			})
		}
	
		function detail_test(coin_name) {
			axios.post('/get_coin_detail').then(function (response) {
				console.log(response)
			})

		}
		console.log('here is test_branch')
		console.log('here is test_branch')
		console.log('here is test_branch')
		console.log('here is test_branch')
		console.log('here is test_branch')
		console.log('here is test_branch')
		async function get() {

			await axios.get('/get_api').then(function (response) {

				var html = ''
				let btc_dict = response.data
				const order = []
				const btc_key = []
				Object.keys(btc_dict).sort().reverse().forEach(key => {
					return order[parseInt(btc_dict[key]['acc_trade_value_24H'] - 2)] = key;
				});
				Object.keys(order).reverse().forEach(key => {
					btc_key.push(order[key])
				});
				
				
				for (let i = 0; i < btc_key.length; i++) {
					html += '<tr onclick="detail_test(' + btc_key[i] + ')"><td>' + btc_key[i] + '</td>';
					html += '<td>' + btc_dict[btc_key[i]].closing_price + ' (KRW)</td>';
					html += '<td>' + btc_dict[btc_key[i]].fluctate_rate_24H + '%</td>';
					html += '<td>' + btc_dict[btc_key[i]].acc_trade_value_24H + '</td></tr>';
				}

				$('#tbody').html(html)

				setTimeout(() => {
					get()
				}, 3000)


			}).catch(function (error) {
				console.log('!!!!!!!!!!!!!ERROR!!!!!!!!!!!!!!')
				console.log(error)
			})
		}

		$(document).ready(function () {
			get()

		})

		// function httpGet()
		// {
		// 	var xmlHttp = new XMLHttpRequest();
		// 	xmlHttp.open( "GET", 'https://api.bithumb.com/public/ticker/ALL_KRW', false ); // false for synchronous request
		// 	xmlHttp.send( null );
		// 	return xmlHttp.responseText;
		// }

	</script>