<!doctype html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
		<title>module_base_server</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css"/>
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</head>
	<body scroll="no">
		<div>
			id : <input type="text" id="id" >
            password : <input type="text" id="pw" >
        </div>
        <br>
        <div><button type="button" id="create_btn" onclick=create_id()>회원가입</button></div>
		</body>
<script>
		function create_id(){
            let id = $('#id').val()
            let pw = $('#pw').val()
            axios.post('/create_id',{id:id, pw:pw}).then(function(response){
                location.href ="/"
            })
        }
</script>